/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke; 
}

.button-container,
.table-container,
.list-container,
.form-container {
  display: flex;
  flex-flow: row wrap;
}

mat-card {
  margin: auto;
  max-width: 350px;
}

mat-card-header {
  margin-bottom: 10px;
}

p {
  font-size: small;
}

.divider {
  margin-top: 10px;
}

button {
  margin: auto;
  margin-bottom: 10px;
}